.carta-falsa {
  font-size: 3.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FACIL {
  height: 128px;
  width: 128px;
}

.MEDIO {
  height: 110px;
  width: 110px;
}

.DIFICIL {
  height: 44px;
  width: 44px;
}
