@if(!this.spinner) {
<main>
  <!-- <div class="encabezado">
    <button class="button-65 bg-btn-azul" tab="home">
      Inicio <i class="fa-solid fa-house fa-lg"></i>
    </button>
    <button class="button-65 bg-btn-rojo" (click)="cerrarSesion()">
      Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
    </button>
  </div> -->

  @switch(this.nivel){ @case(0) {
  <app-list-facil [mejoresCinco]="this.mejoresCinco"></app-list-facil>

  } @case(1) {
  <app-list-medio [mejoresCinco]="this.mejoresCincoMedio"></app-list-medio>

  } @case(2) {
  <app-list-dificil [mejoresCinco]="this.mejoresCincoDificl"></app-list-dificil>

  } }

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="cambiarNivel(0)">
        <br />
        <i class="fa-solid fa-dog fa-xl"></i>
        <br />
        FÁCIL
      </ion-tab-button>
      <ion-tab-button (click)="cambiarNivel(1)">
        <br />
        <i class="fa-solid fa-lemon fa-xl"></i>
        <br />
        MEDIO
      </ion-tab-button>
      <ion-tab-button (click)="cambiarNivel(2)">
        <br />
        <i class="fa-solid fa-screwdriver-wrench fa-xl"></i>
        <br />
        DIFÍCIL
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</main>
} @else {
<div class="div-spinner">
  <h2>Cargando listado...</h2>
  <div id="div">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
</div>
}
