<ion-fab vertical="top" horizontal="end">
  <ion-fab-button color="danger" (click)="cerrarSesion()">
    <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
  </ion-fab-button>
</ion-fab>
<main>
  <header class="title mt-2"><span>DIFICULTAD</span></header>

  <div class="cont-div">
    <button class="boton" routerLink="/facil">
      <span class="sign-text">Facil &nbsp;</span>
      <i class="fa-solid fa-dog fa-xl"></i>
    </button>
    <button class="boton">
      <span class="sign-text">Medio &nbsp;</span>
      <i class="fa-solid fa-lemon fa-xl"></i>
    </button>

    <button class="boton">
      <span class="sign-text">Dificil &nbsp;</span>
      <i class="fa-solid fa-screwdriver-wrench fa-xl"></i>
    </button>
  </div>
</main>
