<section class="bg-stars">
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
</section>
<main>
  <header class="title"><span>DIFICULTAD</span></header>

  <div class="cont-div">
    <button class="boton">
      <span class="sign-text">Facil &nbsp;</span>
      <i class="fa-solid fa-dog fa-xl"></i>
    </button>
    <button class="boton">
      <span class="sign-text">Medio &nbsp;</span>
      <i class="fa-solid fa-lemon fa-xl"></i>
    </button>

    <button class="boton">
      <span class="sign-text">Dificil &nbsp;</span>
      <i class="fa-solid fa-screwdriver-wrench fa-xl"></i>
    </button>
  </div>
</main>
