<main>
  <div class="encabezado">
    <button class="button-65 bg-btn-azul" role="button" routerLink="/ranking">
      Listado <i class="fa-solid fa-ranking-star fa-lg"></i>
    </button>
    <button
      class="button-65 bg-btn-rojo"
      role="button"
      (click)="cerrarSesion()"
    >
      Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
    </button>
  </div>
  <header class="title mt-2"><span>DIFICULTAD</span></header>

  <div class="cont-div">
    <button class="boton" routerLink="/facil">
      <span class="sign-text">Facil &nbsp;</span>
      <i class="fa-solid fa-dog fa-xl"></i>
    </button>
    <button class="boton" routerLink="/medio">
      <span class="sign-text">Medio &nbsp;</span>
      <i class="fa-solid fa-lemon fa-xl"></i>
    </button>

    <button class="boton">
      <span class="sign-text" routerLink="/dificil">Dificil &nbsp;</span>
      <i class="fa-solid fa-screwdriver-wrench fa-xl"></i>
    </button>
  </div>
</main>
